<div class="container" ng-controller="MainController as main">
    <div class="form-group">
        <label class="control-label" for="exampleInputEmail">Usuário: </label>
        <input type="text" class="form-control" id="username" placeholder="Informe seu usuário" ng-model="loginData.username">
    </div>
    <div class="form-group">
        <label class="control-label" for="exampleInputEmail">Senha: </label>
        <input type="password" class="form-control" id="password" placeholder="Informe sua senha" ng-model="loginData.password">
    </div>
    <button class="btn btn-success" ng-click="doLogin()">Entrar</button>
</div>